 <table class="table">
    <thead>
      <tr>
        <th>Item</th>
        <th>Detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Nombre</td>
        <td>{{user.name}}</td>
      </tr>
      <tr>
        <td>Usuario</td>
        <td>{{user.username}}</td>
      </tr>
      <tr>
        <td>Correo</td>
        <td>{{user.email}}</td>
      </tr>
      <tr>
        <td>Teléfono</td>
        <td>{{user.phone}}</td>
      </tr>
       <tr>
        <td>Sitio Web</td>
        <td>{{user.website}}</td>
      </tr>
      <tr>
        <td>Ciudad</td>
        <td>{{user.address.city}}</td>
      </tr>
      <tr>
        <td>Calle</td>
        <td>{{user.address.street}}</td>
      </tr>
      <tr>
        <td>Suite</td>
        <td>{{user.address.suite}}</td>
      </tr>
      <tr>
        <td>Compañia</td>
        <td>{{user.company.name}}</td>
      </tr>
    </tbody>
  </table>


