<div class="container" *ngIf="!habNuevoUsuario">
    <h1>Ingresar nuevo usuario</h1>
    <form [formGroup]="Formulario">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <span class="Advertencia">*</span>
        <input type="text" 
               class="form-control" 
               id="nombre" 
               formControlName="nombre" >
        <div *ngIf="Formulario.controls.nombre.status=='INVALID' && !habForm"  
          class="alert alert-danger">Este campo es obligatorio</div>
               
      </div>
 <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->     
        <div class="form-group">
        <label for="usrname">Nombre usuario</label>
        <span class="Advertencia">*</span>
        <input type="text" 
               class="form-control" 
               id="usrname" 
               formControlName="usrname" >
      <div *ngIf="Formulario.controls.usrname.status=='INVALID' && !habForm"  
      class="alert alert-danger">Este campo es obligatorio</div>
      </div>
 <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->     
      <div class="form-group">
        <label for="email">Correo</label>
        <input type="text" 
               class="form-control" 
               id="email" 
               formControlName="email" >
      </div>
      <div *ngIf="Formulario.controls.email.status=='INVALID' && !habForm"  
      class="alert alert-danger">El correo debe tener un formato válido</div>
      
 <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->     
      <div class="form-group">
        <label for="tel">Teléfono</label>
        <input type="text" 
               class="form-control" 
               id="tel" 
               formControlName="tel" 
               [(ngModel)]="PhoneBind" 
               (keydown)="onKey()"     
               (keyup)="offKey()"                        
               >
      </div>
      <div *ngIf="Formulario.controls.tel.status=='INVALID' && !habForm"  
      class="alert alert-danger">Es necesario que sea mayor a 6 digitos</div>
 <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->     
      <button type="submit" class="btn btn-primary btn-lg"(click)="Enviar()">Enviar</button>
    </form>
</div>

<div class="jumbotron" *ngIf="habNuevoUsuario">
<h1 class="tituloNuevoUsuario" align="center">Haz creado un nuevo Usuario</h1>
<div class="container">
 <table class="table table-striped">
    <thead>
      <tr>
        <th>Item</th>
        <th>Detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Nombre</td>
        <td>{{DatosRecibidos.nombre}}</td>
      </tr>
      <tr>
        <td>Usuario</td>
        <td>{{DatosRecibidos.usrname}}</td>
      </tr>
      <tr>
        <td>Correo</td>
        <td>{{DatosRecibidos.email}}</td>
      </tr>
      <tr>
        <td>Teléfono</td>
        <td>{{DatosRecibidos.tel}}</td>
      </tr>
       <tr>
        <td>Id asignado</td>
        <td>{{DatosRecibidos.id}}</td>
      </tr>
    </tbody>
     <button  type="submit" class="btn btn-primary btn-lg"(click)="Refrescar()">Ingresar Nuevo</button>
  </table>
</div>

</div>

