 .ng-valid:not(form) {
  border-left: 5px solid #42A948; /* green */
}

.ng-invalid:not(form)  {
  border-left: 5px solid #a94442; /* red */
}
.Advertencia{
    color:red;
}
.tituloNuevoUsuario{
     font-family: 'Bungee', cursive;
}