<div class="container">
    <h1>Ingresar nuevo usuario</h1>
    <form [formGroup]="Formulario">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <span class="Advertencia">*</span>
        <input type="text" 
               class="form-control" 
               id="nombre" 
               formControlName="nombre" >
        <div *ngIf="Formulario.controls.nombre.status=='INVALID' && !habForm"  
          class="alert alert-danger">Este campo es obligatorio</div>
               
      </div>
 <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->     
        <div class="form-group">
        <label for="usrname">Nombre usuario</label>
        <span class="Advertencia">*</span>
        <input type="text" 
               class="form-control" 
               id="usrname" 
               formControlName="usrname" >
      <div *ngIf="Formulario.controls.usrname.status=='INVALID' && !habForm"  
      class="alert alert-danger">Este campo es obligatorio</div>
      </div>
 <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->     
      <div class="form-group">
        <label for="email">Correo</label>
        <input type="text" 
               class="form-control" 
               id="email" 
               formControlName="email" >
      </div>
      <div *ngIf="Formulario.controls.email.status=='INVALID' && !habForm"  
      class="alert alert-danger">El correo debe tener un formato válido</div>
      
 <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->     
      <div class="form-group">
        <label for="tel">Teléfono</label>
        <input type="text" 
               class="form-control" 
               id="tel" 
               formControlName="tel" 
               [(ngModel)]="PhoneBind" 
               (keydown)="onKey()"     
               (keyup)="offKey()"                        
               >
      </div>
      <div *ngIf="Formulario.controls.tel.status=='INVALID' && !habForm"  
      class="alert alert-danger">Es necesario que sea mayor a 6 digitos</div>
 <!--+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++-->     
      <button type="submit" class="btn btn-primary btn-lg"(click)="Enviar()">Enviar</button>
    </form>
</div>
    <router-outlet></router-outlet>
